.map {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.rotate-center {
    top: 65px;
    left: .5em;
}

.ol-touch .center-north {
    top: 80px;
}

#debug {
    width: 250px;
    height: 150px;
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    background: #000;
}

.tools {
    height: 55px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
}

#search {}

.map:-moz-full-screen {
    height: 100%;
}

.map:-webkit-full-screen {
    height: 100%;
}

.map:-ms-fullscreen {
    height: 100%;
}

.map:fullscreen {
    height: 100%;
}

.ol-rotate {
    top: 3em;
}


/* Tools */
/*
.ol-zoom {
    bottom: .5em;
    right: .5em;
}
*/